// ------------- INDEX PAGE -------------
.cover {
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 666px;
  width: 100%;
  padding: 66px 0 0;
}

.hero-section{
  h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  perspective: 1000px;
  color: white;
  width: 400px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: #333;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 10px;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: #444;

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;
    height: 445px;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/static/images/background-index.png);
  background-size: cover;
  background-position: bottom center;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13,78,158,0.6);
  border: 2px solid #3bace5;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0,0,0,0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13,78,158,0.3);
}

.cover-0 {
}

.cover-1 {
  background-image: linear-gradient(45deg, rgb(254, 202, 83), rgb(253, 157, 97));
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}


.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


.front {
  transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
}

.service-link {
  position: absolute;
  bottom: 0;
  color: white;
  font-style: italic;
  font-size: 13px;

  > a {
    color: white;
  }
}







